/* Estilo principal del enlace */
.navbar-brand {
    font-family: 'Arial', sans-serif; /* Fuente moderna */
    font-size: 24px; /* Tamaño del texto */
    font-weight: bold; /* Texto en negrita */
    color: #E63946; /* Color rojo vibrante */
    text-decoration: none; /* Quita el subrayado */
    letter-spacing: 2px; /* Espaciado entre letras */
    transition: color 0.3s ease; /* Animación suave en el color */
  }
  
  /* Estilo al pasar el cursor */
  .navbar-brand:hover {
    color: #F1FAEE; /* Cambia a blanco al hacer hover */
    text-shadow: 2px 2px 5px red; /* Sombra al texto */
  }
  
  /* Estilo al hacer clic (active) */
  .navbar-brand:active {
    color: #A8DADC; /* Cambia a un tono azul claro */
  }
  .logo-container {
    display: flex;
    justify-content: center;
  }